@import "tailwindcss";
@plugin "daisyui";

/* 스크롤바 없애기 전역 스타일 파일에 추가 */
.no-scrollbar {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Edge */
}
